<div class="container" *ngIf="obras">

    <div class="row">
        <h3>Datos de la obra:</h3>
        <div class="input-group mb-3 mt-3 col-sm-12">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Cliente:</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="obras.clienteObra" (blur)="actualizarObra()">
        </div>

        <div class="input-group mb-3 mt-3 col-sm-12">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Obra:</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="obras.nombreObra"  (blur)="actualizarObra()">
            <div class="input-group-append">
                <a class="btn btn-group text-white" 
                   [ngClass]="{'btn-success' : obras.status == true, 'btn-danger' : obras.status == false }" 
                   (click)="activarObra()"> {{ obras.status == true ? "Activa" : "Inactiva" }}
                   
                </a>
                
            </div>

        </div>



        <div class="input-group mb-3 mt-3 col-sm-12">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Descripción:</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="obras.descripcion" (blur)="actualizarObra()" >
        </div>

    </div>
    <!-- AGREGAR CAPITULO -->
    <nav class="navbar">
            <h3>Capitulos:</h3> 
        <select name="FiltroActivo" id="" class="custom-select" aria-placeholder="Filtro" #t  (change)="getCapitulos(t.value)" >
            <option value="activas">Activos</option>
            <option value="inactivas">Inactivos</option>
             
        </select>


    </nav>

    <div class=" row box-obra">
        <h4 class="m-2 text-success">Agregar capitulo:</h4>
        <div class="input-group m-3">

            <div class="input-group-prepend">
                <span class="input-group-text">Codigo:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="nuevoCapitulo.codigo">

            <div class="input-group-prepend">
                <span class="input-group-text">Capitulo:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="nuevoCapitulo.nombreCapitulo">

            <div class="input-group-prepend">
                <span class="input-group-text">Estimado:</span>
            </div>
            <input type="time" class="form-control" [(ngModel)]="nuevoCapitulo.tiempoEstimado">

            <button class="btn btn-success ml-1" (click)="agregarCapitulo()"> <i class="fas fa-plus"></i> </button>

        </div>



    </div>
    
   
    <div class="row box-obra mt-3" *ngFor="let capitulo of capitulos">


        <div class="input-group m-3">

            <div class="input-group-prepend">
                <span class="input-group-text">Codigo:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="capitulo.codigo" (blur)="actualizarCapitulo(capitulo)" >

            <div class="input-group-prepend">
                <span class="input-group-text">Capitulo:</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="capitulo.nombreCapitulo" (blur)="actualizarCapitulo(capitulo)" >

            <div class="input-group-prepend">
                <span class="input-group-text">Estimado:</span>
            </div>
            <input type="time" class="form-control" [(ngModel)]="capitulo.tiempoEstimado" (blur)="actualizarCapitulo(capitulo)" >
            <button class="btn btn-primary" 
                    [routerLink]="['/partes',capitulo.idCapitulo]" ><i class="far fa-calendar-check" title="Partes"></i></button>
            <button class="btn btn-danger ml-1" *ngIf="activas" (click)="desactivarCapitulo(capitulo)" ><i class="fas fa-power-off"></i></button>
            <button class="btn btn-success ml-1" *ngIf="!activas" (click)="activarCapitulo(capitulo)" ><i class="fas fa-power-off"></i></button>


        </div>



    </div>
</div>